*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products-container{
    background: url("../IMG/MainBackgrd.jpg");
    background-size: cover;
    padding: 20px;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    position: relative;
    min-height: 80vh;
}
.products-container>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color:rgba(255, 255, 255, 0.6);
    font-size: 2rem;
    border-radius: 20px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.product-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
}
.product-card img{
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}
.product-card:hover{
    border-color:  rgb(51, 206, 51);
    transform: scale(1.05);
    cursor: pointer;
}
.product-card:active{
    border-color: red;
}
.product-info{
    flex: 1;
    padding: 8px;
    background-color: rgb(194, 190, 190);
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    border: 1px solid black;
}
.product-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.product-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    color: black;
}
.product-price p{
    display: inline-block;
    font-weight: bold;
}
.product-price button{
    max-width: 100px;
    width: 100%;
    height: 60px;
    right: 10px;
    bottom: 10px;
    background-color: rgb(19, 163, 19);
    font-size: 0.7rem;
    color: #f5f5f5;
    border: 1px solid black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.product-price button> img{
    background-color: transparent;
    height: 100%;
    width: auto;
    border: none;
}
.product-price button:hover{
    background-color: red;
    cursor: pointer;
}
.product-price button:active{
    transform: scale(0.8);
}